<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find robot_pack)/launch/spawn_xacro.launch">
        <arg name="x" value="1.0" />
        <arg name="y" value="1.0" />
        <arg name="z" value="0.2" />
        <arg 
        name="xacro_robot_file"
        value="$(find robot_pack)/urdf/robot.xacro"/>
        <arg name="robot_name" value="simple_robot" />
    </include>
</launch>
