<?xml version="1.0" ?>
<robot name="simple_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
<xacro:property name="M_PI"   value="3.142" />

  <material name="blue">
	    <color rgba="0 0 0.8 1"/>
	</material>

	<material name="white">
	    <color rgba="1 1 1 1"/>
	</material>

	<material name="yellow">
	    <color rgba="1 0.8 0.3 0.7"/>
	</material>

	<material name="gray">
	    <color rgba="0.7 0.7 0.7 1.0"/>
	</material>

	<material name="darkgray">
	   <color rgba="0.3 0.3 0.3 1.0"/>
	</material>









<!-- wheel plugin-->
    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <legacyMode>false</legacyMode>
        <alwaysOn>true</alwaysOn>
        <updateRate>20.0</updateRate>
<!--        <robotNamespace>/simple_robot</robotNamespace>-->
        <leftJoint>wheel_1_joint</leftJoint>
        <rightJoint>wheel_2_joint</rightJoint>
        <wheelSeparation>0.30</wheelSeparation>
	    <wheelDiameter>0.09</wheelDiameter>
	    <wheelTorque>20</wheelTorque>
        <wheelAcceleration>1.0</wheelAcceleration>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <commandTopic>/cmd_vel</commandTopic>
        <odometryTopic>/odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <broadcastTF>1</broadcastTF>
      </plugin>
    </gazebo>


    <gazebo reference="sensor_laser">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>simple_robot/laser/scan</topicName>
        <frameName>sensor_laser</frameName>
      </plugin>
    </sensor>
  </gazebo>



    <gazebo reference="imu_sensor">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>/simple_robot/imu</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_sensor</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_sensor</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>


 <gazebo reference="camera_link">
      <sensor type="depth" name="camera_link_camera">
        <always_on>true</always_on>
        <update_rate>20.0</update_rate>
        <camera>
          <horizontal_fov>${60.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>8.0</far>
          </clip>
        </camera>
        <plugin name="camera_link_controller" filename="libgazebo_ros_openni_kinect.so">
<!--          <cameraName>simple_robot/camera</cameraName>-->
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <imageTopicName>simple_robot/color/image_raw</imageTopicName>
          <depthImageTopicName>simple_robot/depth/image_raw</depthImageTopicName>
          <pointCloudTopicName>simple_robot/depth/points</pointCloudTopicName>
          <cameraInfoTopicName>simple_robot/color/camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>simple_robot/depth/camera_info</depthImageCameraInfoTopicName>
          <frameName>camera_depth_optical_frame</frameName>
          <baseline>0.1</baseline>
          <distortionK1>0.00000001</distortionK1>
          <distortionK2>0.00000001</distortionK2>
          <distortionK3>0.00000001</distortionK3>
          <distortionT1>0.00000001</distortionT1>
          <distortionT2>0.00000001</distortionT2>
          <pointCloudCutoff>0.4</pointCloudCutoff>
        </plugin>
      </sensor>
    </gazebo>



</robot>

